 /*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

 html {
     color: #222;
     font-size: 1em;
     line-height: 1.4;
 }

 ::-moz-selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 ::selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0;
 }

 audio,
 canvas,
 iframe,
 img,
 svg,
/* video {
     vertical-align: middle;
 }*/

 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }

 textarea {
     resize: vertical;
 }

 .browserupgrade {
     margin: 0 0;
     background: #ccc;
     color: #000;
     padding: 0 0;
 }

@font-face {
    font-family: "Myriad-Pro";
    src: url(http://www.anaveer.in/honda/font/MYRIADPRO-REGULAR.OTF) format("truetype");
}

 h1, h2, h3, h4, p {
     margin: 0;
 }
 ul {
     margin: 0;
 }


 /* ==========================================================================
    Fonts
    ========================================================================== */

@font-face {
   font-family: 'museo300';
   src: url('../fonts/museo300/museo300-regular-webfont-webfont.eot');
   src: url('../fonts/museo300/museo300-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museo300/museo300-regular-webfont-webfont.woff') format('woff'),
        url('../fonts/museo300/museo300-regular-webfont-webfont.ttf') format('truetype'),
        url('../fonts/museo300/museo300-regular-webfont-webfont.svg#museo300') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'museo500';
   src: url('../fonts/museo500/museo500-regular-webfont-webfont.eot');
   src: url('../fonts/museo500/museo500-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museo500/museo500-regular-webfont-webfont.woff') format('woff'),
        url('../fonts/museo500/museo500-regular-webfont-webfont.ttf') format('truetype'),
        url('../fonts/museo500/museo500-regular-webfont-webfont.svg#museo500') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'museo700';
   src: url('../fonts/museo700/museo700-regular-webfont.eot');
   src: url('../fonts/museo700/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museo700/museo700-regular-webfont.woff') format('woff'),
        url('../fonts/museo700/museo700-regular-webfont.ttf') format('truetype'),
        url('../fonts/museo700/museo700-regular-webfont.svg#museo700') format('svg');
   font-weight: normal;
   font-style: normal;
}

 /* ==========================================================================
    Helper classes
    ========================================================================== */

 .hidden {
     display: none !important;
     visibility: hidden;
 }

 .visuallyhidden {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
 }

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
     clip: auto;
     height: auto;
     margin: 0;
     overflow: visible;
     position: static;
     width: auto;
 }

 .invisible {
     visibility: hidden;
 }

 .clearfix:before,
 .clearfix:after {
     content: " ";
     display: table;
 }

 .clearfix:after {
     clear: both;
 }

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;

     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     transition: all 300ms ease-in-out;
 }

a {
     text-decoration: none;
}


 /* ==============================================
    Reusable styles
    ============================================ */

 /* ==============================================
    Author's custom styles
    ============================================ */

body {
     font-family: "museo500", Helvetica, sans-serif;
}

h1, h2, h3 {
     font-family: "museo700", Helvetica, sans-serif;
}

.top-nav {
     position: fixed;
     top: 0;
     width: 100%;
     height: 80px;
     font-family: "museo700", Helvetica, sans-serif;
     color: #82868f;
     text-transform: uppercase;
     background-color: rgba(255, 255, 255, 0.9);
     -webkit-box-shadow: 0px 2px 8px 0px rgba(31,31,31,0.5);
     -moz-box-shadow: 0px 2px 8px 0px rgba(31,31,31,0.5);
     box-shadow: 0px 2px 8px 0px rgba(31,31,31,0.5);
     z-index: 2;
}

.logo {
     float: left;
     font-size: 30px;
     line-height: 2.6;
}


.wrapper {
     max-width: 940px;
     margin: 0 auto;
}

nav {
     font-size: 13px;
     float: right;
     height: 40px;
     margin: 20px 0;
}

nav a {
     font-size: 13px;
     color: #82868f;
     padding: 15px 20px;
     border-radius: 20px;
     line-height: 3;
}
nav a:hover {
     background-color: #0ebfdd;
     color: #fff;
}

.main-section {
     position: relative;
     text-align: center;
     margin-top: 80px;
}

.main-section img {
     max-width: 100%;
}

.main-section .wrap-cont {
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     text-align: center;
}

.main-section .wrap-cont h1 {
     font-size: 32px;
     color: #f7fdfe;
}

.main-section .wrap-cont h1:before {
     content: "\02605";
     position: relative;
     bottom: 6px;
     right: 5px;
     font-size: 13px;
     line-height: 1.5;
}

.main-section .wrap-cont h1:after {
     content: "\02605";
     position: relative;
     bottom: 6px;
     left: 5px;
     font-size: 13px;
     line-height: 1.5;
}

.main-section .wrap-cont p {
     margin: 10px auto 70px;
     font-size: 16px;
     width: 70%;
     color: #fff;
     line-height: 1.5;
}

.about-us {
     max-width: 70%;
     margin: 45px auto;
     font-size: 24px;
     color: #0ebfdd;
     text-align: center;
}


.about-us p {
     margin-top: 25px;
     font-size: 16px;
     color: #45494d;

}

.team {
     padding: 55px 0 65px 0;
     background-color: #0ebfdd;
     text-align: center;
}

.team h2 {
     font-family: "museo500", Helvetica, sans-serif;
     color: #fff;
     font-size: 32px;
}

.team h3 {
     font-family: "museo500", Helvetica, sans-serif;
     color: #fff;
     font-size: 15px;
}

.team p {
     font-family: "museo500", Helvetica, sans-serif;
     color: #fff;
     font-size: 11px;
}
.team a {
     padding: 10px 30px;
     border: 1px solid #fff;
     border-radius: 20px;
     font-family: "museo700", Helvetica, sans-serif;
     font-size: 14px;
     text-transform: uppercase;
     color: #fff;

}

.team a:hover {
     background-color: #fff;
     color: #0ebfdd;

}

.team .person-wrapper {
     max-width: 100%;
     margin: 80px 0;

}

.team .person {
     display: inline-block;
     margin-right: 5%;
}

.team .person img {
     max-width: 100%;
}

.team .person:hover img {
     -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
     transform: scale(1.3);
}

.team .person:last-child {
     margin-right: 0;
}

.person-img {
     position: relative;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     overflow: hidden;
     z-index: 1;
}

.google-maps img {
     max-width: 100%;
}

footer {
     font-family: "museo500", Helvetica, sans-serif;
     background-color: #45494d;
}

footer .top-footer-nav {
     display: table;
     width: 100%;
     height: 80px;
}

footer .left-nav,
footer .right-nav {
     display: table-cell;
     vertical-align: middle;
}
footer .left-nav {
     text-align: left;
}
footer .right-nav {
     text-align: right;
}

footer .left-nav a {
     margin-right: 15px;
     font-size: 12px;
     color: #d7dee4;
     text-transform: uppercase;
}

footer .left-nav a:hover {
     color: #0ebfdd;
}

footer .left-nav a:last-child {
     margin-right: 0;
}


footer .right-nav a {
     display: inline-block;
     width: 40px;
     height: 40px;
     margin-right: 10px;
     border: 1px solid #fff;
     border-radius: 50%;
     background-image: url(../img/social.png) no-repeat;

}

footer .right-nav a:hover {
     background-color: #0ebfdd;

}

footer .right-nav a:last-child {
     margin-right: 0;
}

footer .right-nav a.mail {
     background-position: 2px 2px;
}

footer .right-nav a.facebook {
     background-position: 3px -27px;
}

footer .right-nav a.twitter {
     background-position: 3px -58px;
}

footer .bottom-nav {
     max-width: 100%;
     text-align: right;
}

footer .bottom-nav {
     max-width: 100%;
     display: block;
     padding: 20px 0;
     vertical-align: middle;
     text-align: right;
     font-size: 12px;
     color: #73767a;
     border-top: 1px solid #73767a;
}

footer .bottom-nav a {
     color: #73767a;
}

footer .bottom-nav a:hover {
     color: #0ebfdd;
}

footer .bottom-nav a:last-child {
     margin-right: 30px;

}
footer .bottom-nav span {
     margin: 0 5px;

}


@media screen and (max-width: 940px) {

     .logo {
          padding-left: 10px;
     }

     nav a {
          padding: 1vw 1.5vw;
     }

     .main-section .wrap-cont p {
          margin: 1vw auto 7vw;
          font-size: 2vw;
     }

     .about-us {
          margin: 3vw auto;

     }

     .about-us p {
          margin-top: 2vw;
          font-size: 2vw;
     }

     footer .bottom-nav {
          padding: 20px 0;
          font-size: 12px;
     }

}

@media screen and (max-width: 768px) {

     .logo {
          font-size: 25px;
     }

     nav a {
          font-size: 11px;
          padding: 1vw 1vw;
     }

     .main-section .wrap-cont p {
          margin: 0 auto 3vw;
          font-size: 3.5vw;
          line-height: 1.5;
     }
     .about-us p {
          margin-top: 0.5vw;
          font-size: 3.5vw;

     }

     .team {
         padding: 5vw 0 7vw 0;
     }

     .person-img {
          width: 20vw;
          height: 20vw;
     }

     footer .left-nav a {
          margin-right: 0.5vw;
          font-size: 12px;
     }

     footer .right-nav a {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 0.5vw;
     }

     footer .bottom-nav {
         padding: 0.5vw 0;
         font-size: 10px;
     }

     .team .person-wrapper {
      margin: 8vw 0;
     }

}

@media screen and (max-width: 320px) {

     .team .person {
          width: 100%;
     }

     .team .person-img {
          width: 150px;
          height: 150px;
          display: inline-block;
     }

     footer .left-nav a {
          margin-right: 0.5vw;
          font-size: 3.5vw;
     }


     footer .bottom-nav {
         padding: 0vw 0;
         font-size: 3.3vw;
     }
}









