@charset "utf-8";

body, h1, h2, h3, p, ul, input, form, textarea, button, input[type="submit" i] {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

/*****  Clearfix ******/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/******** ***********/

* {
	 -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     transition: all 300ms ease-in-out;
}

body {
	width: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1em;
	line-height: 1.';'
}

header {
	margin-top: 0;
	width: 100%;
	background-image: url(../images/header_image.jpg);
	background-repeat: no-repeat;
	background-size: cover ;
}

.wrap {
	width: 74%;
	margin: 0 auto;
}

.nav-bar {
	background-color: rgba(16, 22, 54, 0.2);
}

nav {
	width: 60%;
	padding-top: 2%;
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
    
}

nav li {
	float: right;
	font-size: 0.9em;
}

nav a {
   display:inline-block;
    width: 100%;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
	color: 	#21b697;
}


.logo {
	float: left;
	padding: 2% 0;
	width: 40%;
}

.logo img {
	max-width: 27%
}

.logo span{
	vertical-align: baseline;
	color: #777777;
}

.head-title {
	margin: 20vw 0 10vw 0;
	text-align: center;
}

.head-title h1 {
	margin: 0;
	color: #fff;
	font-weight: 100;
	font-size: 3.2em;
}
.head-title .acsent {
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}

.head-title > p {
	margin: 0;
	font-weight: 100;
	color: #fff;
	font-size: 1.8em;
}

.creative {
	color: #0fde95;
}

p.line {
	position: relative;
	display: inline-block;	
	font-size: 1em;
    padding-top: 0.5em;
}

p.line:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 1.2em;
    left: -3em;
    width: 20%;
    border-top: 1px solid #0fde95;
}

p.line:after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 1.2em;
    right: -3em;
    width: 20%;
    border-top: 1px solid #0fde95;
}

.h-social {
	margin: 0 auto;
	width: 100%;
	padding: 1%;
	
}

.h-social ul {
    width: 100%;   
	margin: 0 auto;
    padding: 0;
    display: inline-block;
	text-align: center;
	list-style-type: none;
}

.h-social li {
	display: inline-block;
	text-align: center;
}

.sprite a{
	display: block;
	width: 34px;
	height: 38px;
	background: url(../images/social_top.png);
}

.twitter a{
	background-position: -6px 0;
}

.twitter  a:hover {
	background-position: -6px -34px;
}

.facebook a{
	background-position: -40px 0;
}

.facebook a:hover{
	background-position: -40px -34px;
}

.google a{
	background-position: -70px 0;
}

.google a:hover{
	background-position: -70px -34px;
}

.dribble a{
	background-position: -100px 0;
}

.dribble a:hover{
	background-position: -100px -34px;
}

.features {
	background-color: #f4f7f9;
	padding: 1.3em 0;
}

.sub-title {
	position:relative;	
	text-align: center;	
}

.sub-title h2 {
	width: 	100%;
	margin: 1.3em auto 0;
	padding: 0.5em 0;
	color: #0eb493;
	font-size: 1.7em;
	font-weight: bold;	
	text-transform: uppercase;	
	
}

.branding {
	display: table;
	width: 31.33%;
	padding: 1%;
	float: left;
}

.image {
	display: inline-block;
	width: 35px;
	height: 35px;
	padding: 0.5em;
	border:  1px solid #13b595;
	border-radius: 50%;
	vertical-align: top;
}

.image img {	
	width: 100%;
	height: auto;
	
}

.info {
	display: inline-block;
	width: 71%;
}

.branding h3 {
	margin: 0;
	padding: 3%;
	text-align: left;	
	font-size: 1.3em;
	color: #1a3041;
}

.branding p {
	margin: 0;
	color: #000000;
	font-size: 0.9em;
	text-align: justify;
	padding: 3%;
}

.little-nav {
	padding-top: 1em;
    text-align: center;
}

.little-nav a {
    display: inline-block;
    margin-left: 1em;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid #a3abaf;
    border-radius: 50%;
    background: #f4f7f9;
}

.little-nav a:hover {
    background: #000;
}

.works p {
	padding: 4%;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;	
	color: #1a3041;
}

.sort {
	width: 100%;
	text-align: center;
}
		
.sort a {
	margin-left: 0.8em;
	padding: 0.2em 0.4em;
	display: inline-block;
	border-radius: 8px;	
	font-size: 0.9em;
	font-weight: 700;	
	color: 	#000;
	text-decoration: none;	
}

.sort a:first-child {
	margin-left: 0;
}

.sort a:hover {
	color: #fff;
	background-color: #0eb493;
	font-weight: 700;
}


.gallery {
	width: 100%;
	margin: 4% auto;
	text-align: center;
}

.gallery img {
	display: inline-block;
	max-width: 24%;
	
}

.gallery img:hover {
	background-color: rgba(14, 180, 147);
	opacity: 0.2;
	
}


.team {
	width: 100%;
}

.team p {
	padding: 4%;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;	
	color: #1a3041;
}

.team_gallery {
	width: 100%;
}

.wrapper2 {
	margin-top: 1em;
	max-width: 24%;
	float: left;
	padding-right: 1%;
	position: relative;
	overflow: hidden;	
}

.wrapper2 img{
	display: inline-block;
	width: 	100%;
	height: auto;	
}

.wrapper2:hover .hovering {
	display: block;	
}

.hovering {
	display: none;	
	position: absolute;	
	top: 0;
	bottom: 58px;
	right: 9px;
	left: 0;
	text-align: center;
	color: #fff;
	background-color:rgba(14, 180, 147, 0.8);
}

.hovering h4 {
	font-size: 1.2em;
}

.hovering p {
	font-size: 0.8em;
	font-weight: 600;
	color: #fff;
}

.hovering a {
	padding: 0.4em 0.6em;
	text-decoration: none;
	font-size: 0.6em;
	color: #fff;
	font-weight: 700;
	border: 1px solid #fff;
	border-radius: 8px;
}

.hovering a:hover {
	background-color: #fff;
	color: #19b193;
}

p.name {
	margin: 0;
	font-size: 1.1em;
	color: #19b193
}

p.position {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

.facts {
	margin: 4% 0;
	padding: 4em 0.2em;
	width: 100%;
	background: url(../images/facts_back.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}

.facts_img {
	margin-top: 2em;
	width: 20%;
	display: inline-block;
}

.wrapper3 {
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 2em;
	border:  1px solid #fff;
	border-radius: 50%;
	vertical-align: top;
}

.wrapper3 img {
	width: 100%;
	height: auto;
}

.facts_img p span {
	display: block;
	color: #fff;
	font-size: 2.2em;
}

.facts_img p {
	color: #fff;
	font-size: 0.8em;
	text-transform: uppercase;
}

.contacts p {
	padding: 4%;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;	
	color: #1a3041;
}

.add-left {
	width: 25%;
	float: left;
}

.add-left h3{
	font-size: 1em;
}

.add-left p{
	padding: 0;
	margin-top: 0;
	font-size: 0.8em;
	font-weight: 400;
	text-align: left;	
	color: #1a3041;
}

.hello {
	width: 60%;
	float: left;
	padding: 0 2%;
}

.hello h3 {
	font-size: 1em;
}

.contact {
	padding-top: 2%;
	position: relative;
}

.contact textarea {
	width: 96%;
	padding: 1%; 
	margin-top: 1%;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	outline: 0;
	font-family: 'Open Sans', sans-serif;
	}

.textbox {
	width: 46%;
	padding: 1%;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	outline: 0;	
}


.send-button {
	float: right;
	padding-top: 2%;
	border: 0;
	float: right;
	background-color: #FFFFFF;
	padding: 4% 0% 0% 4%;
	
}

.send-button input {
	font-family: font-family: 'Open Sans', sans-serif;
}


.add-right {
	width: 8%;
	display: inline-block;
	margin: 0 auto;
}

.right a{
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/add_right.png);
}

.add-right ul {
	list-style-type: none;
	width: 100%;
	padding: 0% 4% 4% 50%;
}

.add-right li {
	width: 40px;
	height: 40px;
}

.behance a {
	background-position: 0 4px;
}

.behance a:hover {
	background-position: -40px 0;
}

.twit a {
	background-position: 0px -39px;
}

.twit a:hover {
	background-position: -40px -40px;
}

.drib a {
	background-position: 0px -82px;
}

.drib a:hover {
	background-position: -40px -80px;
}

.forrst a {
	background-position: 0px -127px;
}

.forrst a:hover {
	background-position: -40px -130px;
}

.gog a {
	background-position: 0 -170px;
}

.gog a:hover {
	background-position: -40px -170px;
}

.fb a {
	background-position: 0 -214px;
}

.fb a:hover {
	background-position: -40px -214px;
}



.map {
	width: 100%;
	height: 231px;
	background-image: url(../images/map.jpg);
	background-repeat: no-repeat;
	margin-top: 2%;
}

footer {
	width: 100%;
	padding: 4em 0;	
	background-color: #1ea78d;
	position: relative;
}

.wrapper4 {
	display: table;
}

.brand {
	display: table-cell;
	text-align: center;	
	width: 50%;
	padding: 5%;
}

.brand p {
	font-size: 0.8em;
	padding-top: 1em;
	color: #fff;
}


.copy {
	padding: 5%;
	width: 50%;
	display: table-cell;
}

.copy p {
	color: #FFFFFF;
	font-size: 0.8em;
	text-align: center;
}

.copy span {
	color: #000000;
}

p.copyright {
	color: #000000;
}

@media screen and (max-width: 940px) {
	.wrap {
		width: 96%;
			}
}

@media screen and (max-width: 768px) {
	
	nav {
		width: 100%;
		text-align: center;	
	}

	.logo {
		width: 100%;
		text-align: center;	
	}

	.sub-title h2 {
		font-size: 2em;
	}

	nav li {
		float: none;	
    	display: inline-block;
    	text-align: center;
    }

    .branding {
    	width: 	90%;
    	padding: 1% 5% ;
    }

    .info h3 {
    	font-size: 1.6em;
    }

    .info p {
    	font-size: 1.1em;
    }
		
	.gallery img {
    	max-width: 49%;
    }

    .team_gallery {
		text-align: center;
	}	

    .wrapper2 {
    	display: inline-block;
    	float: none;
		margin-top: 2em;
		max-width: 48%;
	}

	p.position {
		text-transform: uppercase;
	}

	.hovering {
		bottom: 61px;
		right: 4px;
	}

	.facts_img {
		width: 45%;
	}

	.add-left {
		width: 100%;
	}

	.add-left p {
		text-align: center;	
	}

	.add-left h3 {
		text-align: center;	
	}

	.hello {
		padding: 0;
		width: 100%;
	}

	.add-right {
		width: 	100%;
	}

	.add-right ul {
		padding: 0;
   		display: inline-block;
    	text-align: center;
    	vertical-align: top;	
    }

	.add-right li {
   		display: inline-block;
    	
    }


}

@media screen and (max-width: 480px) {
	
}