 /*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

 html {
     color: #222;
     font-size: 1em;
     line-height: 1.4;
 }

 ::-moz-selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 ::selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0;
 }

 audio,
 canvas,
 iframe,
 img,
 svg,
/* video {
     vertical-align: middle;
 }*/

 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }

 textarea {
     resize: vertical;
 }

 .browserupgrade {
     margin: 0 0;
     background: #ccc;
     color: #000;
     padding: 0 0;
 }


 h1, h2, h3, h4, p {
     margin: 0;
 }
 ul {
     margin: 0;
 }


 /* ==========================================================================
    Fonts
    ========================================================================== */


 /* ==========================================================================
    Helper classes
    ========================================================================== */

 .hidden {
     display: none !important;
     visibility: hidden;
 }

 .visuallyhidden {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
 }

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
     clip: auto;
     height: auto;
     margin: 0;
     overflow: visible;
     position: static;
     width: auto;
 }

 .invisible {
     visibility: hidden;
 }

 .clearfix:before,
 .clearfix:after {
     content: " ";
     display: table;
 }

 .clearfix:after {
     clear: both;
 }

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

a {
     text-decoration: none;
}


 /* ==============================================
    Reusable styles
    ============================================ */

 /* ==============================================
    Author's custom styles
    ============================================ */

body {
    background-color: #526581;
    font-family: 'Roboto', Helvetica , sans-serif;
}

.wrapper {
     max-width: 930px;
     margin: 0 auto;
}

.topnav {
    display: table;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 15px 22px;
    background-color: #fff;
    font-size: 16px;
    color: #475055;
    line-height: 1;
    text-align: left;
}

.topnav .nav-button {
    float: left;
    width: 60px;
    height: 60px;
    background-image: url(../images/sprite_top_part.png);
    background-position: -171px -136px;
    background-repeat: no-repeat;
    background-color: #56ccc8;
}

nav ,
.search-social {
    display: table-cell;
    vertical-align: middle;
}

nav {
    margin: 0 4px;
    float: left;
    line-height: 3.8;
}

nav a {
    color: #535c60;
    margin-left: 44px;
}

nav a:hover {
    color: #56ccc8;
}

.search-social {
    text-align: right;
}

.menu {
    display: inline-block;
    width: 60px;
    height: 60px;
}

nav .sprite.menu-icon {
    width:60px;
    height: 60px;
    background-position: 151px 2px;
}

.nav-con {
    display: inline-block;
    margin: 22px;
    font-size: 12px;
    color: #d7dee4;
}

.search-social a {
    display: inline-block;
    width: 35px;
    height: 100%;
    margin-right: 10px;
    background-image: url(../images/sprite_top_part.png);
}

.search-social a:hover {
    background-color: #56ccc8;
}


.search-social a.search {
    background-position: 154px 10px;
    border-right: 1px solid #dde2e4;
    width: 46px;
}

.search-social a.account {
    background-position: 31px 8px;
    border-left: 1px solid #dde2e4;
    width: 46px;
}

a.menu-icon {
    background-position: 151px 2px;
}

.search-social a.facebook {
    background-position: 121px 8px;
}

.search-social a.twitter {
    background-position: 90px 8px;
}

.search-social a.google {
    background-position: 58px 8px;
}

.search-social a.account {
    background-position: 31px 8px;
}


.section1 {
    width: 100%;
    margin-bottom: 6%;
}

.section1-left {
    float: left;
    width: 49%;
    margin-right: 1%;
}

.left-menu {
    float: left;
    width: 45%;
    background-color: #fff;
}


.left-menu a {
    width: 100%;
    height: 62px;
    display: block;
    padding-top: 20px;
    border-bottom: 1px solid #e3e3e3;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}


.left-menu a span {
    float: left;
    line-height: 1.8;
    font-size: 16px;
    color: #535c60;
}

.left-menu a span.sprite {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 10px;
    padding-left: 20px;
    background-image: url(../images/sprite_top_part.png);
    background-repeat: no-repeat;
}

span.sprite.home {
    background-position: -3px -57px;
}

span.sprite.store {
    background-position: -33px -57px;
}

span.sprite.blog {
    background-position: -62px -57px;
}

span.sprite.community {
    background-position: -93px -57px;
}

span.sprite.contest {
    background-position: -123px -57px;
}

span.sprite.about {
    background-position: -153px -57px;
}

span.sprite.contact {
    background-position: -183px -57px;
}


.left-menu a:hover {
    background-color: #56ccc8;
    color: white;
}

.left-menu a:hover span.sprite.home {
    background-position: -3px -88px;
}

.left-menu a:hover span.sprite.store {
    background-position: -33px -88px;
}

.left-menu a:hover span.sprite.blog {
    background-position: -62px -88px;
}

.left-menu a:hover span.sprite.community {
    background-position: -93px -88px;
}

.left-menu a:hover span.sprite.contest {
    background-position: -123px -88px;
}

.left-menu a:hover span.sprite.about {
    background-position: -153px -88px;
}

.left-menu a:hover span.sprite.contact {
    background-position: -183px -88px;
}

.content-info {
    padding: 19px 0;
    background-color: #c5cdd1;
}

.info {
    padding: 17px 15px;
}

.info p {
    width: 75%;
    float: right;
    font-size: 14px;
    color: #585858;
}

.info div {
    width: 25px;
    height: 25px;
    float: left;
}

.info .phone {
    background: url(../images/sprite_top_part.png) no-repeat -2px -115px;
}

.info .location {
    background: url(../images/sprite_top_part.png) no-repeat -31px -117px;
}

.info .mail {
    background: url(../images/sprite_top_part.png) no-repeat -183px -88px;
}

.right-menu {
    float: right;
    width: 55%;
}

.right-menu .sub-section {
    background-color: #152840;
    padding: 25px;
    border-bottom: 1px solid #445e78;
}

.right-menu .sub-section:hover {
    background-color: #263a54;
}

.right-menu h3 {
    position: relative;
    font-size: 16px;
    color: #56ccc8;
}

.right-menu h3 span {
    position: absolute;
    top: 2px;
    right: 0;
    width: 25px;
    height: 25px;
    background-image: url(../images/sprite_top_part.png);
    background-repeat: no-repeat;
    background-position: -13px -16px;
}

.right-menu a {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}

.carousel-section {
    margin-bottom: 10px;
}

.bx-wrapper {
    margin: 0 auto;
}

.bx-wrapper .bx-viewport {
    background-color: #787878;
}

.bx-wrapper .bx-viewport li {
    padding: 40px 400px 200px 60px;
    float: left;
    font-family: 'Roboto', Helvetica , sans-serif;
    color: #fff;
    background-color: #787878;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 3px;
}

.bx-pager-link {
    border: 1px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #fff;
}


.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    border-radius: 50%;
    background: #fff;
}


.bxslider h1 {
    padding-bottom: 30px;
    font-size: 25px;
}

.bxslider p {
    padding-bottom: 40px;
    font-size: 15px;
}

.bxslider a {
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.section4 {
    width: 100%
}

.section4-left {
    float: left;
    width: 30%;
}

.box1 {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #1f3045;
}

.box1-con {
    position: absolute;
    display: table;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.box1-con div {
    display: table-cell;
    text-align: center;
}

.box1-con div p {
    padding: 20px;
    line-height: 1.2;
    font-size: 15px;
    color: #fff;
}

.box1-con span.sprite {
    display: inline-block;
    width: 40px;
    height: 30px;
    background-image: url(../images/sprite_top_part.png);
    background-repeat: no-repeat;
}

span.sprite.share {
    background-position: -69px -113px;
}

span.sprite.heart {
    background-position: -128px -113px;
}

.box2 {
    width: 100%;
    height: 439px;
    position: relative;
    background-color: #4fc6f8;
    margin-bottom: 10px;
}

.box2 p {
    position: relative;
   padding: 24px 24px;
   font-size: 15px;
   color: #fff;

}

.box2 .first p:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    background: url(../images/sprite_top_part.png) no-repeat -2px -147px;
}

.box2 span {
    display: inline-block;
    padding: 0 0 24px 24px;
    font-size: 15px;
    color: #fff;
}

.box2 a {
    font-weight: bold;
    color: #fff;
}

.box2 .first {
    padding: 5px 0;

}

.box2 .second {
    border-top: 1px solid #7bd4fa;
    border-bottom: 1px solid #7bd4fa;
}

.box3 {
    position: relative;
    width: 100%;
    height: 535px;
    background-color: #fff;
    color: #475055;
}

.box3-title {

}

.box3 h3 {
    padding-left: 15px;
    font-size: 22px;
    line-height: 3;
    border-bottom: 1px solid #dde2e4;
}

.box3-title .little-nav {
    position: absolute;
    top: 23px;
    right: 15px;
}

.little-nav a {
    display: inline-block;
    margin-left: 0 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #a3abaf;
    border-radius: 50%;
    background: white;
}

.little-nav a:hover {
    background: #a3abaf;
}

.box3 .content {
    width: 100%;
    padding: 18px 18px 3px 18px;
}

.box3-con {
    height: 71px;
    margin-bottom: 15px;
}

.box3-con p {
    width: 70%;
    float: right;
    padding-left:15px;
    font-size: 14px;
    color: #585858;
}

.box3-con span {
    width: 70%;
    float: right;
    display: block;
    padding: 15px 0 0 15px;
    font-size: 14px;
    color: #a3abaf;
}

.box3-con div {
    width: 71px;
    height: 71px;
    float: left;
}



.box3-con .first {
    background-color: #787878;
}

.box3-con .second {
    background-color: #646464;
}

.box3-con .thirth {
    background-color: #545454;
}

.box3-con .fourth {
    background-color: #444444;
}

.box3-con .fifth {
    background-color: #343434;
}

.form {
    height: 380px;
    padding: 26px 19px;
    margin-top: 10px;
    background-color: #fff;
}

.form h3 {
    font-weight: bold;
    line-height: 1.3;
    border-bottom: none;
    margin-bottom: 19px;
}

.form input , textarea {
    margin-bottom: 19px;
    padding: 10px 0 10px 16px;
    border: 1px solid #dde2e4;
    border-radius: 2px;
    font-size: 14px;
    color: #a3abaf;
}

.form input:hover , textarea:hover {
    border: 1px solid #57cbcb;
}

.form .submit {
    padding: 12px 18px;
    width: 35%;
    border-radius: 4px;
    background-color: #ea6060;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

